.albumPageContainer {
  position: relative;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardHeading {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.cardWrapper {
  background-color: #2b2e4a;
  border-radius: 1rem;
  left: 50%;
  padding: 1rem;
  position: absolute;
  text-align: start;
  transform: translate(-50%, -50%);
  top: 50%;
}

.imageStyle {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.liStyle {
  margin-bottom: 1rem;
}

.spanHeadingStyle {
  display: block;
  font-weight: 700;
}

.spanTextStyle {
  font-weight: 400;
}

.svgStyles {
  margin-right: 0.5rem;
}

.ulStyle {
  list-style: none;
  padding-inline-start: 0;
  margin-top: 1rem;
}
